@tailwind base;
@tailwind components;
@tailwind utilities;

  
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 5px;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.input-field {
    border: none;
    outline: none;
}

.input-field:focus {
    box-shadow: none;
}

#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;

    margin: 0 auto;
    position: relative;
    top: 20px;
    left: 50%;
    margin-bottom: 30px;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(black, 0.35);

    .dashes {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        border: 4px dashed #ddd;
        opacity: 1;
    }

    .clicktext {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        color: grey;
        opacity: 1;
    }

    &.dragging {
        background-image: none !important;

        .dashes {
            animation-duration: 10s;
            animation-name: spin;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            opacity: 1 !important;
        }

        .clicktext {
            opacity: 0.5 !important;
        }
    }

    &.hasImage {

        .dashes,
        .clicktext {
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}